// Custom.scss
// Option A: Include all of Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom Colors
$custom-colors: (
  "michblue": #00274c,
  "michgold": #ffcb05,
  "inputgrey": rgba(217, 217, 217, 0.5),
  "delete-btn": #d11a2a,
);

// Merge Colors
$theme-colors: map-merge($theme-colors, $custom-colors);

// Include any default variable overrides here (though functions won't be available)

$enable-shadows: true;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

:root {
  --bs-body-bg: #00274c;
}
body {
  // background-image: url(/images/honeycomb.jpeg);
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.btn-gold:hover {
  background-color: rgba(255, 208, 30, 0.75);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #ffcb05;
}

input[type="range"] {
  accent-color: #ffcb05;
}

#facebookBtn:hover {
  background-color: rgb(217, 217, 217);
}

/* ******************************************* Custom classes ***************************************** */

.header-image {
  background-size: cover;
  background-position: center 40%;
  background-image: url(/assets/images/smoky_apiary@3x.jpg);
  background-color: none !important;
}

@media (min-resolution: 192dpi) {
  .header-image {
    background-image: url(/images/smoky_apiary@2x.jpg);
  }
}

@media (max-width: 767px) {
  .header-image {
    background-image: url(/images/smoky_apiary@1x.jpg);
  }
}

.icon {
  width: 60px;
  height: 60px;
}
.locationIcon {
  width: 100px;
  height: 100px;
}

.outlined-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.outlined-text-gold {
  text-shadow: -1px -1px 0 #ffcb05, 1px -1px 0 #ffcb05, 1px 1px 0 #ffcb05,
    1px 1px 0 #ffcb05;
}

.pop {
  transition: transform 0.2s ease-out;
}

.pop:hover {
  transform: scale(1.02);
}

.privacy {
  background-color: rgba(0, 39, 76, 80%);
  border: 3px solid #ffcb05;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.shadow {
  box-shadow: 10px 10px 5px black;
}

#slider {
  width: 100%;
}

#sliderValue {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.svg-honey {
  background-size: contain;
  background-image: url(/images/honeypot_noback.png);
  background-repeat: no-repeat;
}

.svg-wax {
  background-size: contain;
  background-image: url(/images/honeycomb_noback.png);
  background-repeat: no-repeat;
}

.temperBtn {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffcb05;
  --bs-btn-border-color: #8a7b3e;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #7a6203;
  --bs-btn-hover-border-color: #25cff2;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #7a6203;
  --bs-btn-active-border-color: #7a6203;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #0dcaf0;
  --bs-btn-disabled-border-color: #0dcaf0;
}

.title {
  background: rgb(0, 39, 76);
  background: linear-gradient(
    45deg,
    rgba(0, 39, 76, 1) 18%,
    rgba(255, 203, 5, 0.5592612044817927) 82%,
    rgba(0, 39, 76, 1) 88%
  );
  border: 3px solid #ffcb05;
  border-radius: 10px;
  margin-bottom: 1em;
}

/* ******************************************* Custom classes ***************************************** */
