// Custom.scss
// Option A: Include all of Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "custom";

$enable-shadows: true;

// --------------------------------------------- Color Classes -------------------------------------------

// Use the michblue color with Bootstrap classes

.bg-card {
  background-color: #0c1c34;
}

.bg-inputgrey {
  background-color: $inputgrey;
}

.bg-michblue {
  background-color: $michblue;
}

.bg-michgold {
  background-color: $michgold;
}

.btn-michblue {
  color: #fff; // Text color for buttons
  background-color: $michblue;
  border-color: $michblue;
}

.btn-michblue:hover {
  background-color: darken($michblue, 10%); // Darken the color on hover
  border-color: darken($michblue, 10%);
}

.btn-michgold {
  color: #212529;
  background-color: $michgold;
  border-color: $michgold;
}

.btn-michgold:hover {
  color: #212529;
  background-color: darken($michgold, 10%); // Darken the color on hover
  border-color: darken($michgold, 10%);
}

.btn-michgold:focus,
.btn-michgold.focus {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
  box-shadow: 0 0 0 0.25rem rgba(255, 203, 5, 0.5);
}

.btn-michgold.disabled,
.btn-michgold:disabled {
  color: #212529;
  background-color: #ffcb05;
  border-color: #ffcb05;
}

.btn-michgold:not(:disabled):not(.disabled):active,
.btn-michgold:not(:disabled):not(.disabled).active,
.show > .btn-michgold.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-michgold:not(:disabled):not(.disabled):active:focus,
.btn-michgold:not(:disabled):not(.disabled).active:focus,
.show > .btn-michgold.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 203, 5, 0.5),
    0 0 0 0.5rem rgba(255, 203, 5, 0.25);
}

.darken-on-hover {
  transition: filter 0.3s ease;
}

.darken-on-hover:hover {
  filter: brightness(75%);
}

.inputgrey {
  color: #212529;
  background-color: $inputgrey;
  border-color: $inputgrey;
}

.inputgrey:hover {
  background-color: darken($inputgrey, 10%); // Darken the color on hover
  border-color: darken($inputgrey, 10%);
}

.inputgrey:focus,
.inputgrey.focus {
  background-color: #e0a800;
  border-color: #d39e00;
  box-shadow: 0 0 0 0.25rem rgba(255, 203, 5, 0.5);
}

.inputgrey.disabled,
.inputgrey:disabled {
  background-color: $inputgrey;
  border-color: $inputgrey;
}

.inputgrey:not(:disabled):not(.disabled):active {
  background-color: #d39e00;
  border-color: #c69500;
}

.inputgrey:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 203, 5, 0.5),
    0 0 0 0.5rem rgba(255, 203, 5, 0.25);
}

.link:hover {
  color: darken($michgold, 10%); // Darken the color on hover
  border-color: darken($michgold, 10%);
  text-decoration: none;
}

.text-michblue {
  color: $michblue;
}

.text-michgold {
  color: $michgold;
}

// --------------------------------------------- Color Classes End -------------------------------------------

/* ******************************************* Custom classes ***************************************** */

:root {
  --bs-body-bg: #00274c;
}
body {
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-image: url(../assets/images/honeycomb@3x.jpg);
  font-family: "Josefin Sans", sans-serif;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #ffcb05;
}

input[type="range"] {
  accent-color: #ffcb05;
}

.icon {
  width: 60px;
  height: 60px;
}

#facebookBtn:hover {
  background-color: rgb(217, 217, 217);
}

.header-image {
  background-size: cover;
  background-position: center 40%;
  background-image: url(/images/smoky_apiary@3x.jpg);
  background-color: none !important;
}

@media (min-resolution: 192dpi) {
  .header-image {
    background-image: url(/images/smoky_apiary@2x.jpg);
  }
}

@media (max-width: 767px) {
  .header-image {
    background-image: url(/images/smoky_apiary@1x.jpg);
  }
}

.icon {
  width: 60px;
  height: 60px;
}
.locationIcon {
  width: 100px;
  height: 100px;
}

.modal-border {
  border: 3px solid #fccb05; /* Example border style */
  border-radius: 10px; /* Optional: Adds rounded corners */
  padding: 15px;
}

.modal-text {
  word-wrap: break-word; /* This allows long words to break and wrap onto the next line */
  white-space: pre-line; /* This preserves line breaks in the text */
}

.outlined-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.outlined-text-gold {
  text-shadow: -1px -1px 0 #ffcb05, 1px -1px 0 #ffcb05, 1px 1px 0 #ffcb05,
    1px 1px 0 #ffcb05;
}

.pop {
  transition: transform 0.2s ease-out;
}

.pop:hover {
  transform: scale(1.06);
}

.pop-xl {
  transition: transform 0.2s ease-out;
}

.pop-xl:hover {
  transform: scale(1.3);
}

.privacy {
  background-color: rgba(0, 39, 76, 80%);
  border: 3px solid #ffcb05;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.shadow {
  box-shadow: 10px 10px 5px black;
}

#slider {
  width: 100%;
}

#sliderValue {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.svg-honey {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/images/honeypot_noback.png);
}

.svg-wax {
  background-size: contain;
  background-image: url(../assets/images/honeycomb_noback.png);
  background-repeat: no-repeat;
}

.temperBtn {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffcb05;
  --bs-btn-border-color: #8a7b3e;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #7a6203;
  --bs-btn-hover-border-color: #25cff2;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #7a6203;
  --bs-btn-active-border-color: #7a6203;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #0dcaf0;
  --bs-btn-disabled-border-color: #0dcaf0;
}

.placeholder-text {
  font-size: 1.5rem;
}

.todo {
  border: 2px solid #fccb05;
  border-radius: 5px;
}

.complete {
  text-decoration: line-through;
}

.title {
  background: rgb(0, 39, 76);
  background: linear-gradient(
    45deg,
    rgba(0, 39, 76, 1) 18%,
    rgba(255, 203, 5, 0.5592612044817927) 82%,
    rgba(0, 39, 76, 1) 88%
  );
  border: 3px solid #ffcb05;
  border-radius: 10px;
  margin-bottom: 1em;
}

.white-placeholder::placeholder {
  color: white;
}

/* Custom styles for mobile */

@media (max-width: 576px) {
  /* Hide certain table columns on mobile */

  .hive-table th:nth-child(3),
  .hive-table td:nth-child(3),
  .hive-table th:nth-child(4),
  .hive-table td:nth-child(4),
  .hive-table th:nth-child(5),
  .hive-table td:nth-child(5),
  .hive-table th:nth-child(6),
  .hive-table td:nth-child(6),
  .inventory-table th:nth-child(3),
  .inventory-table td:nth-child(3),
  .swarm-table th:nth-child(1),
  .swarm-table td:nth-child(1),
  .swarm-table th:nth-child(4),
  .swarm-table td:nth-child(4),
  .inspection-table th:nth-child(1),
  .inspection-table td:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #weather {
    display: flex !important;
    justify-content: center !important;
  }
}

#main-container {
  place-items: center center;
}

#sign-in-form {
  max-width: 330px;
}

.bootstrap-logo {
  width: 72px;
  height: 72px;
}

.form-control:focus {
  z-index: 5;
}

/* ******************************************* Custom classes ***************************************** */
